@import "../../scss/var";

nav {
  width: 100%;
  height: 5vh;
  z-index: 50;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $color-black;

  li {
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0 2rem;
    list-style: none;
    color: $color-white;
    text-shadow: 1px 1px 2px black;
    transition: color 0.4s;

    &:hover {
      color: $color-secondary;
    }
  }
}

.logo {
  position: fixed;
  font-size: 1.7rem;
  left: 3rem;
  color: $color-white;
}
