.product-info {
  display: flex;
  height: 96vh;
  justify-content: center;
  align-items: center;
  background: #4a3f35;

  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    color: #fff;
    text-shadow: 1px 1px 2px black;

    &--title {
      font-size: 2.5rem;
      text-align: center;
    }

    &--price {
      font-size: 1rem;
    }

    &--quality {
      font-size: 1rem;
    }

    &--inventory {
      font-style: italic;
    }

    &--poster {
      width: 30rem;
      border-radius: 5px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
  }
}

.white-bg {
  margin: 0 auto;
  background: #eee;
  height: 50rem;
  width: 50rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Tilt {
  width: 30rem;
  height: 30rem;
}
