@import "../../scss/var";
@import "../../scss/mixin";

.product {
  background: $color__primary;
  @include u-flex-evenly;
  padding-top: 2.5rem;
  flex-wrap: wrap;

  &__card {
    background: $color__secondary;
    @include u-flex-column;
    align-items: center;
    margin: 2rem 1rem;
    height: 26rem;
    border-radius: 5px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.6);
    transition: all 0.4s;

    &:hover {
      transform: scale(1.03);
      box-shadow: 4px 10px 22px rgba(0, 0, 0, 0.8);
    }

    &--poster {
      width: 22rem;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &--title {
      color: $color__white;
      font-weight: $font-weight__bold;
      margin-top: 1.2rem;
      text-transform: uppercase;
      text-shadow: 1px 1px 2px black;
    }
  }
}
