@import "../../scss/var";
@import "../../scss/mixin";

.product-info {
  background: $color__primary;
  @include u-flex-center;
  height: 100vh;
  overflow: hidden;

  &__card {
    color: $color__white;
    @include u-flex-column;
    width: 100%;
    text-shadow: 1px 1px 2px black;
    position: relative;

    &--title {
      color: $color__secondary;
      font-size: $font-size__extra-large;
      margin: 3rem 0 1rem;
      text-align: center;
    }

    &--price {
      font-size: $font-size__large;
      position: absolute;
      top: 16rem;
      left: 20rem;
    }

    &--year {
      font-size: $font-size__large;
      position: absolute;
      top: 18rem;
      left: 18rem;
    }

    &--quality {
      font-size: $font-size__large;
      position: absolute;
      top: 20rem;
      left: 16rem;
    }

    &--inventory {
      font-size: $font-size__large;
      font-style: italic;
      position: absolute;
      top: 22rem;
      left: 14rem;
    }

    &--poster {
      width: 34rem;
      border-radius: 5px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.9);
      cursor: pointer;
    }
  }
}

.white-bg {
  background: $color__white;
  border: 5px solid $color__secondary;
  @include u-flex-center;
  margin: 0 auto;
  height: 50rem;
  width: 50rem;
  border-radius: 50%;
}

.Tilt {
  width: 34rem;
  height: 34rem;
}
