.background-video {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.video {
  width: 100%;
  opacity: 0.7;

  &-overlay {
    position: absolute;
    top: 42%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-size: 5.5rem;
    text-shadow: 1px 1px 2px black;
    font-weight: 300;
    color: #111;

    &-sub {
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
      color: #111;
    }
  }
}
