// ======== COLORS ===
$color__black: #242424;
$color__white: #f7f7f7;

$color__primary: #5696f4;
$color__secondary: #fd9519;

// ======== FONT SIZE ===
$font-size__small: 0.8rem;
$font-size__medium: 1.1rem;
$font-size__large: 1.7rem;
$font-size__extra-large: 2rem;
$font-size__title: 5rem;

// ======== FONT WEIGHT ===
$font-weight__light: 300;
$font-weight__medium: 400;
$font-weight__bold: 700;
